/* Стили для всего сайта */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212; /* Черно-серый фон */
    color: #ffffff; /* Белый текст */
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f1f1f; /* Темный фон для хедера */
    padding: 20px;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    color: #f0a500; /* Золотистый цвет при наведении */
}

nav a.active {
    color: #f0a500; /* Золотистый цвет для активной ссылки */
}

section.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
}

section.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

.content h2 {
    color: #f0a500;
    font-size: 36px;
    margin-bottom: 20px;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo{
    font-size: 1rem;
    color: #00e1ff;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 10vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #00e1ff;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.1rem;
    font-weight: 100;
}

.project {
    width: 30%;
    margin-bottom: 30px;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 110px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project img {
    width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
    color: #ffffff;

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .project {
        width: 100%;
        margin-bottom: 20px;
    }
}